<template>
	<div id="app">
		<div class="container">
			<app-header></app-header>
			<main>
				<router-view></router-view>
			</main>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			appHeader: require('./main/Header.vue')
		}
	}
</script>