<template>
	<div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Add Poll</div>

                <div class="card-body">
                    <form method="POST" action="">   
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label text-md-right">Title</label>

                            <div class="col-md-10">
                                <input type="text"
                                    class="form-control"
                                    name="title"
                                    v-model.trim="poll.title"
                                    :class="{'is-invalid': !!errors.title}"
                                    required 
                                    autofocus
                                    :disabled="isLoading">
                                <span class="invalid-feedback" v-if="!!errors.title">
	                            	<strong>{{ errors.title[0] }}</strong>
	                            </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="options" class="col-md-2 col-form-label text-md-right">Options</label>

                            <div class="col-md-10">
                            	<textarea name="options"
                            		class="form-control"
                            		rows="10"
                            		v-model.trim="poll.options"
                            		:class="{'is-invalid': !!errors.options}"
                            		required
                            		:disabled="isLoading">
                            	</textarea>
                            	<span class="invalid-feedback" v-if="!!errors.options">
	                            	<strong>{{ errors.options[0] }}</strong>
	                            </span>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-2">
                                <button 
                                    type="submit"
                                    class="btn btn-primary"
                                    @click.prevent="addPoll"
                                    :disabled="isLoading">
                                    {{ btnText }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data() {
			return {
				poll: {
					title: '',
					options: ''
				},
				errors: {},
				isLoading: false
			};
		},
		computed: {
			btnText() {
				return this.isLoading ? 'Loading...' : 'Submit';
			}
		},
		methods: {
			addPoll() {
				// format the options parameter to include only the needed values
				let options = [];
				this.poll.options.split('\n').forEach(value => {
					value = value.trim();
					if (value != '') {
						options.push({
							name: value
						});
					}
				});
				
				const data = {
					title: this.poll.title,
					options
				};
				let _vm = this;
				_vm.isLoading = true;

				axios.post('/api/polls', data)
					.then(resp => {
						let id = resp.data.id;
						_vm.$router.push('/polls/' + id);
					}).catch(err => {
						_vm.errors = err.response.data.errors;
					}).then(() => {
						_vm.isLoading = false;
					});
			}
		}
	}
</script>