<template>
	<div class="row justify-content-center">
		<div class="col-md-12">
	            <div class="card card-default">
	                <div class="card-header">Poll</div>

	                <div class="card-body position-relative">
	                	<div class="loading-mask" v-if="isLoading">
	                		<div class="loading-mask-text">Loading...</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-md-6">
	                			<form>
									<h1>{{ poll.title }}</h1>
									<div class="alert alert-success" v-if="isFinishedVoting">You have voted successsfully</div>
									<div class="form-group">
			                			<ul class="list-group">
											<li class="list-group-item" v-for="option in poll.options">
		                						<div class="form-check">
		                							<input class="form-check-input"
		                								type="radio"
		                								name="poll_option_id"
		                								:value="option.id"
		                								v-model="user_vote.poll_option_id"
		                								:disabled="isVoting">
												  	<label class="form-check-label">
												    	{{ option.name }}
												  	</label>
	                							</div>
		                					</li>
		                				</ul>
                					</div>
                					<div class="form-group">
                						<button
                							type="submit"
                							class="btn btn-primary"
                							@click.prevent="vote"
                							:disabled="isVoting">
                							{{ btnTxt }}
                						</button>
            						</div>
                				</form>
                			</div>
                			<div class="col-md-6">
                				<app-poll-pie-chart :chart-data="myChartData" ref="pollChart"></app-poll-pie-chart>
            				</div>
            			</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';

	export default {
		data() {
			return {
				isLoading: true,
				poll: {},
				user_vote: {},
				isVoting: false,
				isFinishedVoting: false,
				myChartData: {},
				lastVotedOptionId: null,
				optionChartMap: {}
			}
		},
		computed: {
			...mapGetters(['user']),
			userHasVoted() {
				return !! this.user_vote.created_by;
			},
			btnTxt() {
				if (this.isVoting) {
					return 'Voting...';
				}

				return this.userHasVoted ? 'Change Vote' : 'Vote';
			}
		},
		components: {
			appPollPieChart: require('./PollPieChart.vue')
		},
		methods: {
			vote() {
				let _vm = this;
				_vm.isVoting = true;
				_vm.isFinishedVoting = false;

				if (_vm.userHasVoted) {
					var promise = axios.patch('/api/poll_option_votes/' + _vm.user_vote.id, _vm.user_vote)
						.then(resp => {
							_vm.isFinishedVoting = true;
							// update pie chart data
							_vm.myChartData.datasets[0].data[_vm._getChartDataIdx(_vm.lastVotedOptionId)]--;
						});
				} else {
					var promise = axios.post('/api/poll_option_votes', _vm.user_vote)
						.then(resp => {
							_vm.user_vote = resp.data;
							_vm.isFinishedVoting = true;
						});
				}
				
			 	promise.catch(err => {
			 			console.log(err);
						alert('there was somekind of error in the voting');
					}).then(() => {
						// update pie chart
						_vm.myChartData.datasets[0].data[_vm._getChartDataIdx(_vm.user_vote.poll_option_id)]++;
						_vm.$refs.pollChart.update();
						_vm.lastVotedOptionId = _vm.user_vote.poll_option_id;
						_vm.isVoting = false;
					});
			},
			_initData() {
				// set chart data, user vote, and lastVotedOptionId
				var _vm = this,
					chartData = {
						labels: [],
						datasets: [{
							label: 'Votes',
							data: [],
							backgroundColor: []
						}]
					},
					user_vote = null;

				this.poll.options.forEach((option, idx) => {
					_vm._addChartData(option, chartData);
					_vm._setOptionChartMap(option.id, idx);


					if (! user_vote) {
						user_vote = _vm._findUserVote(option.votes);
					}
				});

				_vm.myChartData = chartData;

				if (user_vote) {
					_vm.user_vote = user_vote;
					_vm.lastVotedOptionId = user_vote.poll_option_id;
				} else {
					_vm.user_vote.poll_option_id = this.poll.options[0].id;
				}
			},
			_addChartData(option, chartData) {
				chartData.labels.push(option.name);
				chartData.datasets[0].data.push(option.votes.length);
				chartData.datasets[0].backgroundColor.push(this._getRandomColor());
			},
			_findUserVote(votes) {
				for (var i in votes) {
					if (votes[i].created_by == this.user.id) {
						return votes[i];
					}
				}

				return null;
			},
			_getRandomColor() {
				var r = Math.floor(Math.random() * 255);
	            var g = Math.floor(Math.random() * 255);
	            var b = Math.floor(Math.random() * 255);
	            return "rgb(" + r + "," + g + "," + b + ")";
			},
			_setOptionChartMap(optionId, chartDataIdx) {
				this.optionChartMap[optionId] = chartDataIdx;
			},
			_getChartDataIdx(optionId) {
				return this.optionChartMap[optionId];
			}
		},
		created() {
			let _vm = this;
			axios.get('/api/polls/' + _vm.$route.params.id)
				.then(resp => {
					_vm.poll = resp.data;
					_vm._initData();
				}).catch(err => {
					console.log(err);
					_vm.$router.push('/');
				}).then(() => {
					_vm.isLoading = false;
				});
		}
	}
</script>

<style>

</style>
