<template>
	<header>
		<nav id="main-nav" class="navbar navbar-expand-md navbar-dark bg-dark">
			<router-link to="/" class="navbar-brand">Poll</router-link>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse">
	        <ul class="navbar-nav mr-auto">
	        	<router-link to="/register" tag="li" class="nav-item" activeClass="active" v-if="! isAuthenticated">
	        		<a class="nav-link">Register</a>
	        	</router-link>
	        	<router-link to="/login" tag="li" class="nav-item" activeClass="active" v-if="! isAuthenticated">
	        		<a class="nav-link">Login</a>
	        	</router-link>
	        	<router-link to="/polls" tag="li" class="nav-item" activeClass="active" v-if="isAuthenticated">
	        		<a class="nav-link">My Polls</a>
	        	</router-link>
	        	<router-link to="/add-poll" tag="li" class="nav-item" activeClass="active" v-if="isAuthenticated">
	        		<a class="nav-link">Add Poll</a>
	        	</router-link>	        	
	        </ul>
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item" v-if="isAuthenticated">
	        		<a class="nav-link"
	        			href="#" 
	        			@click.prevent="logout">{{ isLoggingOut ? 'Logging Out...' : 'Logout'}}</a>
        			</li>
	        </ul>
	      </div>
	    </nav>
	</header>
</template>

<script>
	export default {
		data() {
			return {
				isLoggingOut: false
			}
		},
		computed: {
			isAuthenticated() {
				return this.$store.getters.isAuthenticated;
			}
		},
		methods: {
			logout() {
				let _me = this;
				_me.isLoggingOut = true;
				this.$store.dispatch('AUTH_LOGOUT')
					.then(resp => {
						_me.$router.push('/login');
					}).catch(err => {
						alert('Failed to logout');
					}).then(() => {
						_me.isLoggingOut = false;
					});
			}
		}
	}
</script>