
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#main-nav {
	margin-bottom: 1.5rem;
}

.loading-mask {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	.loading-mask-text {
		font-size: 1.8rem;
		font-weight: 500;
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    text-align: center;
	}
}

