<template>
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-default">
                <div class="card-header">Home</div>
                <div class="card-body">
                	<div class="row justify-content-center">
                		<div class="col-md-7">
            				<h1>Polls</h1>
            				<div class="row">
            					<div class="col-md-12 mb-2">
            						<loading-mask v-if="isLoading"></loading-mask>
									<p v-if="polls.length == 0">There are no polls yet. <router-link to="/add-poll">Add one.</router-link></p>
            						<ul class="list-group" v-else>
		            					<li class="list-group-item" v-for="poll in polls">
		            						<router-link :to="{path: '/polls/' + poll.id}">{{ poll.title }}</router-link>
		            					</li>
		        					</ul>
        						</div>
        						<div class="col-md-12">
        							<appPaginate
        								v-if="pagination.pageCount > 0"
		        						:page-count="pagination.pageCount"
		    							:click-handler="onPaginateClick"
									  	:prev-text="pagination.prevText"
									  	:next-text="pagination.nextText"
								  		:container-class="pagination.containerClass"
								  		:page-class="pagination.pageClass"
								  		:prev-class="pagination.pageClass"
								  		:next-class="pagination.pageClass"
								  		:page-link-class="pagination.linkClass"
								  		:prev-link-class="pagination.linkClass"
								  		:next-link-class="pagination.linkClass">
								  	</appPaginate>
    							</div>
        					</div>
            			</div>
            		</div>
                </div>
        	</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				polls: [],
				resourceUrl: '/api/polls',
				isLoading: true,
				pagination: {
					pageCount: 0,
					prevText: 'Prev',
					nextText: 'Next',
					containerClass: 'pagination',
					pageClass: 'page-item',
					linkClass: 'page-link'
				}
			}
		},
		methods: {
			onPaginateClick(page) {
				this.fetchPolls(page);
			},
			fetchPolls(page) {
				var _vm = this,
					query = {
						params: {page}
					};

				_vm.isLoading = true;

				axios.get('/api/polls', query)
					.then(resp => {
						_vm.polls = resp.data.data;
						_vm.pagination.pageCount = resp.data.last_page;
					}).catch(err => {
						alert('there was an error while loading the polls');
					}).then(() => {
						_vm.isLoading = false;
					});
			}
		},
		components: {
			appPaginate: require('vuejs-paginate'),
			loadingMask: require('../misc/LoadingMask.vue')
		},
		created() {
			this.fetchPolls(1);
		}
	}
</script>