<template>
	<div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form method="POST" action="">
                        <div class="alert alert-danger" role="alert" v-if="loginError">
                            {{ loginError }}
                        </div>    

                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" 
                                    type="email" 
                                    class="form-control" 
                                    name="email" 
                                    v-model="user.email" 
                                    :class="{'is-invalid': loginError}"
                                    :disabled="isLoading"
                                    required 
                                    autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    v-model="user.password"
                                    :class="{'is-invalid': loginError}"
                                    :disabled="isLoading"
                                    required>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button 
                                    type="submit"
                                    class="btn btn-primary"
                                    @click.prevent="login"
                                    :disabled="isLoading">
                                    {{ isLoading ? 'Loading...' : 'Login' }}
                                </button>

                                <a class="btn btn-link" href="">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
		data() {
			return {
				user: {
					email: '',
					password: '',
				},
                loginError: '',
                isLoading: false
			}
		},
		methods: {
			login() {
                var vm = this;
                vm.loginError = '';
                vm.isLoading = true;

                this.$store.dispatch('AUTH_REQUEST', this.user)
                    .then(resp => {
                        this.$router.push('/polls');
                    }).catch(err => {
                        vm.loginError = err.response.data.message;
                        vm.user.password = '';
                    }).then(() => {
                        vm.isLoading = false;
                    });
			}
		}
	}
</script>