<template>
	<div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Register</div>

                <div class="card-body">
                    <form method="POST" action="">
                        <div class="alert alert-success" v-if="isRegistered">You have successfully registered! Logging in...</div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name"
                                    type="text"
                                    class="form-control"
                                    v-model.trim="user.name" required
                                    autofocus
                                    :class="{'is-invalid': !!errors.name}"
                                    :disabled="isLoading">
                                <span class="invalid-feedback" v-if="!!errors.name">
                                    <strong>{{ errors.name[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email"
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    v-model.trim="user.email"
                                    required
                                    :disabled="isLoading"
                                    :class="{'is-invalid': !!errors.email}">
                                <span class="invalid-feedback" v-if="!!errors.email">
                                    <strong>{{ errors.email[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    v-model="user.password"
                                    required
                                    :disabled="isLoading"
                                    :class="{'is-invalid': !!errors.password}">
                                <span class="invalid-feedback" v-if="!!errors.password">
                                    <strong>{{ errors.password[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm"
                                    type="password"
                                    class="form-control"
                                    name="password_confirmation"
                                    v-model="user.password_confirmation"
                                    required
                                    :disabled="isLoading">
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit"
                                    class="btn btn-primary"
                                    @click.prevent="register"
                                    :disabled="isLoading">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data() {
			return {
				user: {
					name: '',
					email: '',
					password: '',
					password_confirmation: ''
				},
                errors: {},
                isLoading: false,
                isRegistered: false
			}
		},
		methods: {
			register() {
                var _vm = this;
                _vm.isLoading = true;
				axios.post('/api/register', _vm.user)
					.then(resp => {
                        _vm.isRegistered = true;
                        var data = {
                            email: _vm.user.email,
                            password: _vm.user.password
                        };
                        _vm.$store.dispatch('AUTH_REQUEST', data)
                            .then(resp => {
                                _vm.$router.push('/polls');
                            }).catch(err => {
                                alert('there was somekind of error in the login.')
                                _vm.$router.push('/login');
                            });
					}).catch(err => {
                        _vm.errors = err.response.data.errors;
                        _vm.isLoading = false;
                    });
			}
		}
	}
</script>